<%- include("header") -%>

<h1>About us</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis eius nesciunt ut laudantium a laborum molestias explicabo ullam eos. Cum, voluptatum similique distinctio delectus, facere officiis laudantium optio illum modi, ipsam enim deleniti reprehenderit. Tempora, laudantium obcaecati voluptatum dolorum molestias nobis ab quia reiciendis praesentium dolor! Explicabo laborum quo maxime magnam tempora sed soluta iste placeat inventore doloribus praesentium ut aliquam ratione dolorum, culpa odio dignissimos perferendis reprehenderit quae velit similique quis facere voluptatem perspiciatis. Corporis voluptas facere autem quo velit alias dolorum quod assumenda veniam eum commodi, enim culpa iste maxime unde asperiores sapiente vero tenetur vel, accusamus cupiditate. Eos, consectetur provident laudantium, veritatis neque dolorem dolorum dolores, possimus qui officia natus officiis? Dolor excepturi, distinctio sint odio facilis corporis at. Debitis, expedita sed, deserunt repellat dolore illo voluptate ipsa molestiae unde, exercitationem quod amet impedit iusto cupiditate nihil quae culpa esse id. Dolore ipsa dicta voluptate dignissimos.</p>

<%- include("footer") -%>